# ErrorDocument 404 https://www.gittservices.com/

# HTID:17088200: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 0
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17088200:


#Bloquear HTACCESS
<Files .htaccess>
order allow,deny
deny from all
</Files>
#

#EVITAR EXTRAER ARCHIVOS DEL SERVIDOR
<Files ~ “.(xml|css|js|jpeg|png|gif|pdf|zip|rar)$”>
Order Allow,Deny
Deny from all
</Files>
#FIN DE LA SENTENCIA